<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Docker Suite" parallel="tests">
<test verbose="2" preserve-order="true" name="newtoursTests">
    <parameter name="userName" value="admin"></parameter>
    <parameter name="password" value="abcd1234"></parameter>
    <parameter name="passengers" value="2"></parameter>
    <parameter name="expectedPrice" value="$1169 USD"></parameter>
    <classes>
        <class name="com.newtest.tests.BookFlightsTest">
            <methods>
                <include name="registrationPageTest" />
                <include name="registrationConfirmPageTest" />
                <include name="findFlightsPageTest" />
                <include name="bookFlightsPageTest" />
                <include name="flightConfirmationPageTest" />
            </methods>
        </class>
    </classes>
</test>
<test verbose="2" preserve-order="true" name="duckduckgoTest">
        <parameter name="searchWord" value="Java"></parameter>
        <classes>
            <class name="com.duckduckgo.tests.SearchPageTest">
                <methods>
                    <include name="searchTest" />
                </methods>
            </class>
        </classes>
</test>
</suite>